<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name = "Tests suit" thread-count="1" verbose="1" annotations="JDK" parallel="tests">
    <test name = "Yandex market test">
        <parameter name="test_file" value="src/test/resources/testdata.json"/>
        <parameter name="config_path" value="src/test/resources/config.json"/>
        <classes>
            <class name = "tests.YandexMarketTest"/>
        </classes>
    </test>
</suite>